.scrollContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
}
.scroll {
  transform: translateY(100vh);
  animation-name: scrollAnime;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.scrollElementsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  align-content: space-between;
}

.element {
  margin-bottom: 60px;
}

@keyframes scrollAnime {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(-100%);
  }
}
